In [1]:
import numpy as np
import pandas as pd

# Content
- [Types of Missing Values](#missing-types)

## <a name="missing-types"></a>Types of Missing Values
There are types of missing values:
1. __Missing Completely at Random (MCAR)__: the missingness occurs completely at random. 
2. __Missing at Random (MAR)__: No significant difference between the primary variable of interest and the missing and non-misisng values.
the missingness of data does not depend on the value of 
 the value of xj after controlling for all the other variables. For example, people who come from poorer families might be less inclined to answer questions about drug use, and so the level of drug use is related to family income. If with the group of people from poorer families the probably of answering the questions about drug use is unrelated to income level, then the data would be considered to be MAR.
3. __Missing Not at Random (MNAR)__: a.k.a. nonignorab

In [5]:
# create a dataframe with missing values
df = pd.DataFrame({'A': [1, 2, np.nan, 3, 4, np.nan, 5],
                   'B': [6, 7, np.nan, 8, 9, 10, np.nan],
                   'C': [0, np.nan, np.nan, 8, np.nan, 10, 11]
                  })
df

     A     B     C
0  1.0   6.0   0.0
1  2.0   7.0   NaN
2  NaN   NaN   NaN
3  3.0   8.0   8.0
4  4.0   9.0   NaN
5  NaN  10.0  10.0
6  5.0   NaN  11.0

### Imputation

In [ ]:
# 
#

In [ ]:
def handel_missing_value(s, method):
    '''
    Inputs:
        s: series of numpy array
    '''
    return df

### Removing